*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #F2E8CF;
    padding: 10px;
    display: flex;
    justify-content: center;
}

body{
    background-color: #A7C957;
}

main{
    margin-top: 20px;
    background-color: #A7C957;
}

#characters-list{

    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Задаем 5 столбцов */
    gap: 10px; /* Расстояние между элементами (по желанию) */

}

.character{
    border-radius: 20px;
    margin-left: 20px;
    background-color: #386641;

    min-width: 100px;
    width: 200px;
    height: 225px;
}


.character img{

    margin-left: 12.5%;
    margin-right: 12.5%;

    max-width: 75%; 
    max-height: 75%;
}

.character p{
   text-align: center;
}
.character button{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4px;
    width: 80%;
}